rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /workers/{uid}/{allPaths=**} {
      allow read, write: if request.auth != null
        && request.auth.uid in firestore.get(/databases/(default)/documents/workers/$(uid)).data.linkedAuthUids;
    }
  }
}
